<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <title>//moi_skill_na_dne</title>
</head>

<body>
    <% include blocks/navBar.ejs %>

    <div class="content_about">
        <div class="title_about">
            <h2><--! About Me --></h2>
        </div>
        <div class="history">
            <p>Здравствуйте, меня зовут Виктор. Я отучился на Web-Developer`а, и успешно достиг звания Junior. Ниже вы можете увидеть сертификат, который можно купить в любом переходе метрополитена. Именно поэтому я его расположил ниже самой истории обо мне и не стал делать размером на весь экран. Я считаю, что главный сертификат, по которому вы можете оценить мои теоретические знания и практические умения - это то, где вы сейчас находитесь! Этот сайт был создан с целью универсального портфолио.
            Здесь собраны все мои проекты, на данный момент их не много. Заинтересовался я программированием около полугода назад. И в данный момент владею уже: HTML, css, Boostrap, JavaScript, React/Redux, MongoDB, NodeJs, Express. Само собой я не могу сказать, что идеально знаю каждый язык/фреймворк/библеотеку из списка, но каждую ячейку из данного перечня я использовал, разбирался и знаю на увереном уровне.</p>
        </div>
        <div class="certificate">
            <img src="/public/img/certificate.jpg" alt="certificate">
        </div>
        <div class="links">
            <h4>Полезные ссылки</h4>
            <a href="https://vk.com/ryabkov_vitya">
                <img src="/public/img/icon/vk.svg" alt="vkontakte"><p>/ryabkov_vitya</p>
            </a>
            <a href="https://www.instagram.com/moi_skill_na_dne/">
                <img src="/public/img/icon/instagram-icon.svg" alt="instagram"><p>/moi_skill_na_dne</p>
            </a>
            <a href="https://github.com/Swipe98rus">
                <img src="/public/img/icon/github-icon.svg" alt="github"><p>/Swipe98rus</p>
            </a>
            <a href="#">
                <img src="/public/img/icon/email.svg" alt="email"><p>vitya.ryabkov@gmail.com</p>
            </a>
        </div>


    </div>
</body>

</html>
