<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/css/card3D.css">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <title>MSND - Cards</title>
    </head>
    <body>
        <div class="wrap">
            <div class="title">
                Touch me!
            </div>
            <div class="card">
                <div class="card-item"></div>
            </div>
            <div class="card">
                <div class="card-item"></div>
            </div>
            <div class="card">
                <div class="card-item"></div>
            </div>
            <div class="homeBtn">
                <a href="/">HOME</a>
            </div>
        </div>
        <script src="/public/js/script.js" charset="utf-8"></script>
    </body>
</html>
