<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <!-- Meta tag for freelancehunt -->
    <meta name='freelancehunt' content='da73d99609e747d' />
    <title>//moi_skill_na_dne</title>
</head>

<body>
    <header>
        <div>
            <a href="#" class="menu-btn">
                <span></span>
            </a>
            <% include blocks/navBar.ejs %>
          <div class="nick-name">
              <h1> <%= h1%> </h1>
          </div>
        </div>
    </header>
    <content>
      <h2>Напиши мне о том, что сайт дрянь.</h2>
      <div class="wrap-feedback-form">
          <form method="post" action="/">
            <label for="name">Твое имя</label>
            <input type="text" name="name" placeholder="Иван Иваныч"/>

            <label for="email">Твой email</label>
            <input type="email" name="email" placeholder="vitya.ryabkov@gmail.com"/>

            <label for="device">Твое устройство</label>
            <input type="text" name="device" placeholder="iPhone 6s"/>

            <label for="comment">Твой комментарий</label>
            <textarea name="comment" placeholder="Писать гадости сюда..."></textarea>

            <input type="hidden" name="date" value=""/>

            <button type="submit">Отправить</button>
          </form>
      </div>
    </content>
    <% include blocks/footer.ejs %>

    <script src="./helpers/btn-animation.js"></script>
</body>
</html>
