<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/public/css/style.css">
        <link rel="shortcut icon" href="/public/img/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>//MSND - Landing</title>
    </head>
    <body>
        <% include blocks/navBar.ejs %>
        <div class="content_someProject">
            <div class="description">
                <h2><%= links.data %></h2>
                <a href="/project/example1" class="exampleLink"><h4>Нажми чтобы посмотреть!</h4></a>
                <a href="https://github.com/Swipe98rus/landing1" class="github">
                    <img src="/public/img/icon/githubBlack.svg" alt="">
                </a>
                <p>Это самый обычный "Лэндинг" с простой версткой. Я выбрал его для созданя, потому что он выглядит локанично, просто и привлекательно. Мне было самому интересно его сделать. Это не рабочий сайт, а лишь макет, который можно пощупать. Для реализации потребовалось лишь HTML и css. Данная работа была сверстана за 2 вечера. Макет был выбран случайно, если смогу найти ссылку на автора, то обязательно оставлю ее тут.
                    <h4>Прошу обратить особое внимание!</h4> На данном макете нет мобильной версии. Ибо дизайнер не адаптировал данную работу под телефоны, соответсвенно и верстать мне тоже нечего!</p>
            </div>
            <div class="example">
                <img src="/public/img/MyFirstLanding.png" alt="example">
            </div>
        </div>
    </body>
</html>
