<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>//MSND - Project</title>
</head>

<body>
    <% include blocks/navBar.ejs %>
    <div class="content_project">
        <div class="title">
            <h2><--! My Project --></h2>
        </div>
        <div class="wrap-card">
            <a href="/project/norn">
                <div class="card">
                    <div class="card_header">
                        <h3>NORN</h3>
                    </div>
                    <div class="card_content">
                        <img src="/public/img/norn.png" alt="NORN-project">
                    </div>
                </div>
            </a>
            <a href="/project/maket-1">
                <div class="card">
                    <div class="card_header">
                        <h3>maket-1</h3>
                    </div>
                    <div class="card_content">
                        <img src="/public/img/maket-1.png" alt="maket-1">
                    </div>
                </div>
            </a>
            <a href="/project/3Dcards">
                <div class="card">
                    <div class="card_header">
                        <h3>3D cards</h3>
                    </div>
                    <div class="card_content">
                        <img src="/public/img/icon/js-file.svg" alt="3D-card">
                    </div>
                </div>
            </a>
            <a href="/project/todos">
                <div class="card">
                    <div class="card_header">
                        <h3>ToDos</h3>
                    </div>
                    <div class="card_content">
                        <img src="/public/img/icon/js-file.svg" alt="ToDos">
                    </div>
                </div>
            </a>
            <a href="/project/tick-tack-toe">
                <div class="card">
                    <div class="card_header">
                        <h3>Крестики - Нолики</h3>
                    </div>
                    <div class="card_content">
                        <img src="/public/img/icon/tic-tac-toe.svg" alt="tick-tack-toe">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% include blocks/footer.ejs %>
</body>

</html>
