<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>//moi_skill_na_dne</title>
</head>
<body>
    <% include blocks/navBar.ejs %>
    <div class="content_someProject">
        <div class="description">
            <h2><%= links.data %></h2>
            <h4>Ссылка будет добавлена позже</h4>
            <a href="https://github.com/Swipe98rus/norn" class="github">
                <img src="/public/img/icon/github-icon.svg" alt="">
            </a>
            <p>Данное приложение реализованно на React. Это прототип школы скандинавских языков. Функционал этого сайта достаточно прост. Есть какое то расписание, выбираем язык, выбираем наш уровень владения языка и расписание автоматически отфильтровывается по вашим запросам. Кнопки записи и добавления в календарь являются просто примером анимации и не несут никакой функциональности. На главной странице есть слайдер комментариев, который можно покрутить дабы посмотреть на его работу. В данном проекте ссылок по факту больше чем страниц. Это объясняется тем, что на курсах, которые я закончил, дизайнером было придоставленно только эти две страницы и мобильная версия. Для меня это была достаточно серьезная верстка на Flex-box'ах. Этот приложение дало уверенное знание React/NodeJS/HTML/css/express и прочих мелких дополнений.</p>
        </div>
        <div class="example">
            <img src="/public/img/norn_main.png" alt="example">
        </div>
        <div class="example">
            <img src="/public/img/norn_courses.png" alt="example">
        </div>
    </div>

</body>
</html>
