<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/css/tick-tack-toe.css">
        <title>Крестики-Нолики</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="homeBtn">
                <a href="/project">Project</a>
            </div>
            <div class="gameField">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="score">
                <h3>Крестики - <h2 id="scoreX">0</h2></h3>
                <h3>Нолики - <h2 id="scoreO">0</h2></h3>
            </div>
        </div>

        <script src="/public/js/tick-tack-toe.js" charset="utf-8" defer></script>
    </body>
</html>
