* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: default;
    color: white;
}

body {
    font-family: 'Varela Round', sans-serif;
}

header {
    background-color: black;
    width: 100%;
    min-height: 600px;
    height: 100vh;
}
header>div{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 100px 1fr;
}

.nick-name {
    display: grid;
    justify-content: center;
    align-self: center;
    color: white;
    font-size: 42px;
    text-align: center;
}
.nick-name h1{
  cursor: default;
}
.nick-name h1:hover{
    transition: 0.4s;
  text-shadow: 0px 0px 7px white;
}
.header-menu{
  display: grid;
  grid-template-columns: repeat(3, 150px);
  width: 100%;
  height: 100px;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.menu-btn{
    display: none;
}

.header-menu a{
  display: grid;
  height: 40px;
  width: 100px;
  color: white;
  align-content: center;
  justify-content: center;
  justify-self: center;
  transition: all 0.1s
}
.header-menu a:hover{
  border: 2px solid white;
}


content{
  display:grid;
  width:100%;
  min-height: 600px;
  height: 100vh;
  justify-content: center;
  align-items:center;
}
content>h2{
  display: grid;
  justify-content: center;
  align-self: flex-end;
}
.wrap-feedback-form{
  display: grid;
  justify-content: center;
  width: 500px;
  height: 550px;
  border-radius: 16px;
  padding: 10px;
  padding-top: 20px;
  background:#353b48;
}
.wrap-feedback-form>form{
    width: 400px;
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-template-rows: repeat(3,50px) 200px 1fr;
    justify-items: center;
    align-items: center;

}
.wrap-feedback-form input[type = "text"],
.wrap-feedback-form input[type = "email"]{
    border: 2px solid #0097e6;
    border-radius: 20px;
    background: #505053;
    width: 200px;
    height: 30px;
    text-align: center;
    outline: none;
    color:#dcdde1;
    font-size: 15px;
    transition: 0.3s;
}
.wrap-feedback-form textarea{
    width: 200px;
    height: 100px;
    background: #505053;
    border: 2px solid #0097e6;
    resize: none;
    text-align: center;
    border-radius: 14px;
    color:#dcdde1;
    font-size: 15px;
    outline:none;
    transition: 0.3s;
}
.wrap-feedback-form label{
    color: #dcdde1;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
.wrap-feedback-form button{
    display: block;
    grid-column: 1/3;
    width: 150px;
    height: 40px;
    border: 2px solid #44bd32;
    color: #44bd32;
    border-radius: 20px;
    background: #505053;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.3s;
}

.wrap-feedback-form button:hover,
.wrap-feedback-form button:active{
    color: #505053;
    background: #44bd32;
    outline: none;
}
.wrap-feedback-form input[type = "text"]:focus,
.wrap-feedback-form input[type = "email"]:focus{
    width:250px;
    border: 2px solid #44bd32;
}
.wrap-feedback-form textarea:focus{
    border: 2px solid #44bd32;
    height: 98%;
}

.content_project,
.content_about{
    display: grid;
    justify-content: center;
    text-align: center;
}
.title{
    display: grid;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
}

.wrap-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.card{
    display: grid;
    width: 250px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px 5px 16px 16px;
    transition: 0.5s;
    overflow: hidden;
}
.card:hover{
    box-shadow: 0 10px 40px 10px rgba(0, 0, 0, 0.7), inset 0 0 20px rgba(0, 0, 0, 0.1);
}
.card_header{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: black;
    color:white;
}
.card_content{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.card_content>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0 0 16px 16px;
}
.in-process{
    height: 82%;
    width: 70%;
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    justify-self:center;
}
.in-process>img{
    height: 100% !important;
    width: 100% !important;
}
.card>.in-process{

}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.content_someProject{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.description{
    width: 70%;
    text-align: center;
    align-self: start;
    margin: 50px;
}
.description>h2{
    text-transform: capitalize;
    margin:15px;
    cursor: default;
}
.description>h4{
    cursor: pointer;
}
.github{
    display: grid;
    width: 100%;
    justify-content: center;
    margin-bottom:25px;
    margin-top: 10px;
    transition: 0.3s
}

.github img{
    height: 50px;
    width: 50px;
    justify-self:center;
}
.github>img:hover{
    animation: links 0.5s linear;
}
@keyframes links {
    0%{transform: rotate(0deg)}
    20%{transform: rotate(-15deg)}
    40%{transform: rotate(15deg);}
    60%{transform: rotate(-15deg);}
    80%{transform: rotate(15deg);}
    100%{transform: rotate(0deg);}

}
.description>p{
    cursor: default;
}
.example{
    display: grid;
    width: 100%;
}
.example>img{
    justify-self:center;
    align-self: start;
    max-width: 100%;
}
.content_about{
    grid-template-columns: 1fr 1fr;
}
.title_about{
    display: grid;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
    grid-column: 1/3
}
.history{
    grid-column: 1/3;
    justify-self: center;
    height: 400px;
    width: 700px;
    margin: 20px;
    transition: 0.4s;
    border: 3px solid #353b48;
    border-radius: 10px;
}
.history:hover{
    animation: historyBorder 8s infinite alternate;
}
.history>p{
    height: 100%;
    width: 100%;
    padding: 25px;
    font-size: 18px;
}

@keyframes historyBorder {
    0%{ border-color: #273c75}
    25%{ border-color: #487eb0}
    50%{ border-color: #00a8ff}
    75%{ border-color: #9c88ff}
    100%{ border-color: #4cd137}

}

.links{
    display: grid;
    grid-template-rows: repeat(5, 50px);
    justify-self: center;
    align-self: center;
    height: 400px;
    width: 400px;
    padding: 8px;
    color: black;
}
.links>a{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    transition: 0.3s;
}


.links>a:visited{
    color: black;
}
.links>h4:hover{
    color: black;
    transform: scale(1)!important;
}
.links :not(:last-child):hover{
    transform: scale(1.04);
}
.links :not(:last-child):hover p{
    color: #44bd32;
}
.links img{
    height: 40px;
    width: 40px;
    justify-self: center;
}
.links p{
    justify-content: flex-start;
    color:black;
    text-align: left;
}


.certificate{
    width: 600px;
    margin: 20px;
    grid-column: 1/2;
}
.certificate>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}







.homeBtn{
    display: grid;
    height: 50px;
    width: 150px;
    color: white;
    margin: 20px;
    font-size: 14;
    justify-self: center;
}
.homeBtn>a{
    justify-self: center;
    align-self: center;
    font-weight:bold;

}
.homeBtn:hover{
    border: 1px solid white;
}




@media (max-width:500px) {

.header-menu{
    grid-template-columns: repeat(3, 125px);
    font-size: 14px;
}
.wrap-feedback-form{
    width: 350px;
}
content>h2{
    font-size: 20px;
}
.wrap-feedback-form label{
    font-size: 12px;
}
.wrap-feedback-form input[type = "text"]:focus,
.wrap-feedback-form input[type = "email"]:focus{
    width:200px;
}
.wrap-feedback-form label[for = "device"],
.wrap-feedback-form label[for = "comment"]{
    width: 85px;
    text-align: center;
}
.wrap-card{
    grid-template-columns:1fr;
}
.nick-name{
    font-size: 16px;
}
.history{
    width:350px;
    height: 600px;
}
.history>p {
    font-size: 15px;
}
.content_about {
    grid-template-columns: 1fr;
}
.links,
.certificate{
    grid-column: 1/1;
}
.certificate{
    width: 350px;
}







    /* .menu-btn{
        display: none;
        position: relative;
        height: 50px;
        width: 50px;
        background-color: black;
        margin-left: 15px;
        margin-top: 15px;
    }
    .menu-btn>span,
    .menu-btn>span::after,
    .menu-btn>span::before{
        display: block;
        background-color: white;
        height: 2px;
    }
    .menu-btn>span{
        position: absolute;
        top: 24px;
        left:5px;
        width: 38px;
    }
    .menu-btn>span::after{
        content: '';
        width: 38px;
        position: absolute;
        top: 8px;

    }
    .menu-btn>span::before{
        content: '';
        width: 38px;
        position: absolute;
        top: -8px;
} */

/* .content {
  width: 100%;
  min-height: 800px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.block_style {
    height: 400px;
}

.button {
    margin: 0 auto;
    margin-top: 7%;
    height: 300px;
    width: 300px;
    border: 0px solid black;
    border-radius: 7%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.button:hover {
    box-shadow: 0 3px 40px rgba(0, 0, 0, 0.7), inset 0 0 20px rgba(0, 0, 0, 0.1)
}

.button::after {
    content: '';
    widows: 300px;
    height: 300px;
    opacity: 0.7;
}

.btn-shop::after {
    background-image: url(../img/shopping-cart.svg);
} */

/* ---------------------------------------------------------------------------------------------maket-1----- */
