*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}


/* Основные стили для главного контейнера */
.wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
}


/* Стили для игрового поля */
.gameField{
    justify-self: center;
    align-self: center;
    width: 304px;
    height: 304px;
    background: black;
    /* Рисуем гридами разметку поля */
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    grid-gap: 2px;
}

/* Стили ячейки */
.cell{
    display: grid;
    align-content: center;
    justify-content: center;

    width: 100px;
    height: 100px;
    border: 1px solid white;
    transition: transform 0.2s;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 60px;
    cursor: default;
}
.cell:hover{
    background: rgba(255,255,255, 0.5);
}
.cell:active{
    transform: scale(0.9);
    transition: 0.2s
}



/* Стили уведомления о победе */
.alert{
    position: absolute;
    display: grid;
    z-index: 2;
    top: calc(50% - 200px);
    left: calc(50% - 380px);
    width: 760px;
    height: 400px;
    background: rgba(0,0,0,0.75);
    color: white;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    font-size: 28px;
}

.okey{
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0);
    color: white;
    margin-top: 25px;
    font-size: 20px;
    font-family: sans-serif;
    border: 1px solid white;
    outline: none;
    border-radius: 8px;
    transition: 0.2s
}
.okey:hover{
    background: rgba(255,255,255, 0.35);
}
.okey:active{
    background: rgba(255,255,255, 0.6);
}

.score{
    display: grid;
    justify-self: center;
    grid-template: 1fr 1fr/ 1fr 1fr;
}
.score :first-child{
    align-self: flex-end;
    padding-bottom: 7px;
    border-bottom: 1px solid black;
    display: block;
}
.score :nth-child(3){
    padding-top: 7px;
}
#scoreX{
    align-self: flex-end;
    padding-bottom: 7px;
    padding-left: 5px;
    border-bottom: 1px solid black;
}
#scoreO{
    padding-top: 7px;
}
.homeBtn{
    display: grid;
    color: black;
    margin: 20px;
    position: fixed;
    top: 0;
    left:0;
    border: 2px solid black;
}
.homeBtn>a{
    justify-self: center;
    align-self: center;
    font-weight:bold;
    color: black;
    text-decoration: none;
    padding: 10px 25px;
}
.homeBtn:hover{
    background: black;
}
.homeBtn:hover.homeBtn>a{
    color: white;
}
