<footer>
    <div class="links">
        <a href="https://vk.com/ryabkov_vitya">
            <img src="/public/img/icon/vk.svg" alt="vkontakte"><p>/ryabkov_vitya</p>
        </a>
        <a href="https://www.instagram.com/moi_skill_na_dne/">
            <img src="/public/img/icon/insta_multicolor.svg" alt="instagram"><p>/moi_skill_na_dne</p>
        </a>
        <a href="https://github.com/Swipe98rus">
            <img src="/public/img/icon/github-icon.svg" alt="github"><p>/Swipe98rus</p>
        </a>
        <a href="#">
            <img src="/public/img/icon/world.svg" alt="email"><p>vitya.ryabkov@gmail.com</p>
        </a>
    </div>
    <div class="copy">
        <h5>Все права не защищены!</h5>
    </div>
</footer>
